Flask==3.0.3
Werkzeug==3.0.3
python-dateutil==2.9.0.post0
pyngrok==7.1.6
joblib==1.4.2
pandas==2.2.2
numpy==1.26.4
pyodbc==5.1.0
openpyxl==3.1.2
scikit-learn==1.5.0
catboost==1.2.5
matplotlib==3.9.0
